!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title La mejor comida en Restaurante Hard
		%link{:rel => "stylesheet", :href => "/offline/style.css"}
		%meta{name:"description", content:"come tico en el mejor restaurante de la ciudad, servicio de primera"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
	%body
		%p#message Parece que no pudimos conectarnos a internet, no hay problema, aquí está la información que necesitas
		.container
			%h1 Restaurante Facilito
			%p
				%strong Dirección
				Av. de los Constituyentes, Vicente López, Buenos Aires
			%p
				%strong Horario
				5pm - 11pm
			%p
				%strong Teléfono
				123456789
			%p
				%strong Descripción
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet ante nunc. Vestibulum tempor sem et mauris elementum molestie. Vivamus dui mi, finibus non nisi in, maximus finibus felis.
			#map
				%img{src:"/offline/map.png"}
				%p Este mapa ofrece referencias del lugar del restaurante